* {
    padding: 0%;
    margin: 0%;
    border: 3px brown solid;
    font-size: 36px;
}

.container {
    padding: 8px;
    display: flex;
    height: 65px;
    justify-content: space-between;
}

.logo {
    margin: auto;
}

.Ls {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.Ls div {
    display: inline;
    margin: auto;
}