* {
    padding: 0%;
    margin: 0%;
    border: 3px brown solid;
    font-size: 36px;
}

.header {
    display: flex;
    padding: 8px;
    /* gap: 18px; */
    height: 80px;
    justify-content: space-between;
}

.ls {
    display: flex;
    gap: 18px;
}

.logo {
    margin: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 18px;
}

li {
    margin: auto;
}

.rightPart {
    display: flex;
    gap: 18px;
    /* margin-left: auto; */
    
}

.rightPart div {
    margin: auto;
}

/* .profile {
    border-radius: 50%;
    height: 50px;
    width: 50px;
} */