* {
    padding: 0px;
    margin: 0px;
    /* border: 3px brown solid; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.box {
    width: 600px;
    height: auto;
    border-radius: 8px;
    background: white;
    padding: 5px;
    box-shadow: 10px 10px 15px darkgray;
}

.flex {
    display: flex;
}

.head {
    justify-content: space-between;
    font-size: 26px;
}

.close {
    margin-left: auto;
    padding-right: 8px;
}

.icon {
    font-size: 36px;
    padding: 0 6 6 6;
}

.header {
    font-weight: bold;
}

.txt {
    font-size: 24px;
}

button {
    width: 75px;
    border-radius: 6px;
}

.continue {
    color: white;
    background-color: royalblue;
}

.cancel {
    color: royalblue;
    background-color: white;
}

.buttons {
    margin-top: 5px;
}