* {
    outline: 2px solid red;
}

.box1 {
    padding: 20px;
}

.box2 {
    margin: 20px;
    width: 100px;
    height: 100px;
    /* box-sizing: border-box; */
    /* This forces the browser to display he contents as the width and height state */
}

.box3 {
    border: 20px solid grey;
}

.box {
    width: 500px;
    height: 200px;
    padding: 50px;
    /* margin: 20px; */
    border: 5px solid green;
}

.content {
    box-sizing: content-box;
    margin: 0 0 15px 0;
}

.border {
    box-sizing: border-box;
    margin: 10px 0 0 0;
}

.contanier {
    margin: -100px 0 0 0;
}