* {
    padding: 0;
    margin: 0;
    border: 1px solid red;
}

.inline {
    /* default is display: block; */
    display: inline;
}

.block {
    /* default display: inline; */
    display: block;
}